<footer class="footer">

	<div class="page-width">
		<div class="footer__credits">

			<div class="row">
				<div class="col col--name">
					<span>ООО «Юнилевер Русь»</span>
				</div>
				<div class="col col--address">
					<span class="label">Юридический и почтовый адрес</span>
					<span>123022, г. Москва, ул. Cергея Макеева, д. 13.</span>
				</div>
				<div class="col">
					<span class="label">Горячая линия</span>	
					<a class="footer__link" href="tel:88002001200">8 800 200-1-200</a>
					<span class="label label--free">(бесплатно по России)</span>
				</div>
			</div>

			<div class="row">
				<div class="col">
					<a class="footer__link footer__link--underline" href="https://t.me/UnileverRUSBot">
						<img class="icon" src="./img/svg/telegram-icon.svg" alt="telegram-icon" title="telegram icon">
						Чат-бот в Telegram
					</a>
				</div>
				<div class="col">
					<span class="label">Электронная почта</span>
					<a class="footer__link footer__link--underline" href="mailto:communications.russia@unilever-rus.ru">communications.russia@unilever-rus.ru</a>
				</div>
				<div class="col">
					<span class="label">Связаться через What’s app</span>
					<a href="tel:+79151223838" class="footer__link">+7 915 122-38-38</a>
				</div>
			</div>

	
		</div>

		<div class="footer__docs">
			<div class="footer__links">
				<a class="footer__link">ПОЛИТИКА О ПЕРСОНАЛЬНЫХ ДАННЫХ</a>
				<a class="footer__link">УСЛОВИЯ ИСПОЛЬЗОВАНИЯ</a>
				<a class="footer__link">ПОЛИТИКА COOKIES</a>
			</div>
		
			<span class="footer__copy">© 2022 Юнилевер Русь</span>
		</div>
	</div>

</footer>