<header class="header">
    <a class="logo" href="/"> 
			<img src="./img/svg/logo.svg" alt="logo" title="logotype">
		</a>

    <div class="menu">
			<button class="btn burger-menu">
				<img src="./img/svg/burger-menu.svg" alt="burger-menu" title="burger menu icon">
			</button>

			<div class="custom-select custom-select--region">
				<span>Выберите регион</span>
			</div>

			<div class="nav">
				<ul>
					<li class="dropdown">
						<a href="/">Акции</a>
						<ul class="dropdown-menu">
							<li><a href="#">Активные </a></li>
							<li><a href="#">Завершенные</a></li>
						</ul>
					</li>
					<li><a href="/">Бренды</a></li>
					<li><a href="/">Призы</a></li>
					<li><a href="/">Промокоды</a></li>
				</ul>
				<button class="btn btn--login">Вход
					<img src="./img/svg/login-icon.svg" alt="login-icon" title="login icon">
				</button>
			</div>
    </div>
</header>