<div class="slider glide">
	<div data-glide-el="track" class="glide__track">

		<div class="glide__slides">

			<div class="slider-card glide__slide">
				<h3 class="h3 slider-card__title">Ноутбук</h3>
				<div class="slider-card__info">
					<div class="slider-card__text">
						Дата проведения акции:
						<span class="slider-card__date">08.06 — 10.07</span>

						<button class="slider-card__btn btn">К акции</button>
					</div>
					<div class="slider-card__img">
						<img src="./img/img1.webp" alt="notebook" title="notebook image">
					</div>
				</div>
			</div>

			<div class="slider-card glide__slide">
				<h3 class="h3 slider-card__title">Электронный подарочный сертификат Lamoda</h3>
				<div class="slider-card__info">
					<div class="slider-card__text">
						Дата проведения акции:
						<span class="slider-card__date">08.06 — 10.07</span>

						<button class="slider-card__btn btn">К акции</button>
					</div>
					<div class="slider-card__img">
						<img src="./img/img2.webp" alt="notebook" title="notebook image">
					</div>
				</div>
			</div>

			<div class="slider-card glide__slide">
				<h3 class="h3 slider-card__title">Музыкальная колонка</h3>
				<div class="slider-card__info">
					<div class="slider-card__text">
						Дата проведения акции:
						<span class="slider-card__date">08.06 — 10.07</span>

						<button class="slider-card__btn btn">К акции</button>
					</div>
					<div class="slider-card__img">
						<img src="./img/img3.webp" alt="notebook" title="notebook image">
					</div>
				</div>
			</div>

			<div class="slider-card glide__slide">
				<h3 class="h3 slider-card__title">Баллы на карту X5&nbsp;Клуба</h3>
				<div class="slider-card__info">
					<div class="slider-card__text">
						Дата проведения акции:
						<span class="slider-card__date">08.06 — 10.07</span>

						<button class="slider-card__btn btn">К акции</button>
					</div>
					<div class="slider-card__img">
						<img src="./img/img4.webp" alt="notebook" title="notebook image">
					</div>
				</div>
			</div>

			<div class="slider-card glide__slide">
				<h3 class="h3 slider-card__title">Ноутбук</h3>
				<div class="slider-card__info">
					<div class="slider-card__text">
						Дата проведения акции:
						<span class="slider-card__date">08.06 — 10.07</span>

						<button class="slider-card__btn btn">К акции</button>
					</div>
					<div class="slider-card__img">
						<img src="./img/img1.webp" alt="notebook" title="notebook image">
					</div>
				</div>
			</div>

			<div class="slider-card glide__slide">
				<h3 class="h3 slider-card__title">Электронный подарочный сертификат Lamoda</h3>
				<div class="slider-card__info">
					<div class="slider-card__text">
						Дата проведения акции:
						<span class="slider-card__date">08.06 — 10.07</span>

						<button class="slider-card__btn btn">К акции</button>
					</div>
					<div class="slider-card__img">
						<img src="./img/img2.webp" alt="notebook" title="notebook image">
					</div>
				</div>
			</div>

		</div>

	</div>

	<div class="glide__arrows" data-glide-el="controls">
		<button class="glide__arrow glide__arrow--left" data-glide-dir="<"></button>
		<button class="glide__arrow glide__arrow--right" data-glide-dir=">"></button>
	</div>
</div>