.slider {
	
	.glide__slides {
		margin: 0;
	}

	.glide__arrows {

		.glide__arrow {
			width: 47px;
			height: 47px;
			border-radius: 50%;
			border: none;
			background-color: #fff;
			position: absolute;
			z-index: 100;
			top: calc(50% - 23px);
			display: flex;
			align-items: center;
			justify-content: center;
			cursor: pointer;

			@include mobile {
				width: .7rem;
				height: 1.4rem;
				background-color: transparent;

				&::after {
					width: 100%;
					height: 100%;
					background-image: url('../img/svg/arrow.svg') !important;
					width: 1.2rem;
					height: 1.2rem;
					position: absolute;
					opacity: .6;
				}
			}

			&::after {
				content: '';
				display: block;
				width: 2rem;
				height: 2rem;
				background-image: url('../img/svg/chevron_blue.svg');
				background-repeat: no-repeat;
				background-size: contain;
				background-position: center;
			}

			&--left {
				left: -8.7rem;
				transform: rotate(90deg);

				@include tablet {
					left: -5vw;
				}
				@include mobile {
					left: -2rem;
					transform: none;
				}
			}

			&--right {
				right: -8.7rem;
				transform: rotate(-90deg);

				@include tablet {
					right: -5vw;
				}
				@include mobile {
					right: -2rem;
					transform: rotate(180deg);
				}
			}

		}
	}

	.slider-card {
		background-color: #5E8CFF;
		border-radius: 3rem;
		padding-top: 2.2rem;
		padding-left: 1.9rem;
		height: 30.6rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		overflow: hidden;
		position: relative;

		@include mobile {
			height: 18rem;
			padding-top: 1.3rem;
			padding-left: 1.1rem;
			border-radius: 1.5rem;
		}

		&__info {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
		}

		&__title {
			max-width: 90%;
		}

		&__text {
			display: flex;
			flex-direction: column;
			padding-bottom: 6.1rem;
			justify-content: end;
			font-size: .8rem;
			line-height: 1;
			color: $color-white;
			font-weight: 700;

			@include mobile {
				font-size: .6rem;
				line-height: 1;
				padding-bottom: 3.5rem;
			}
		}

		&__date {
			font-size: 1.8rem;
			line-height: 1.9rem;
			font-weight: 700;
			color: $color-white;
			margin-top: 4px;
			margin-bottom: 3.7rem;

			@include mobile {
				font-size: .8rem;
				line-height: 1;
				margin-bottom: 2rem;
			}
		}

		&__btn {
			padding: .7rem 2rem;
			background-color: $color-pale-blue;
			color: $color-white;
			font-size: 2rem;
			line-height: 2.5rem;
			font-weight: 900;
			display: flex;
			align-items: center;
			height: 4rem;
			font-family: 'Gilroy-Bold';

			@include mobile {
				font-size: 1rem;
				line-height: 1.3rem;
				padding: .5rem 1.4rem;
			}
		}

		&__img {
			max-width: 15rem;
			height: 19rem;
			display: flex;
			align-items: end;
			position: absolute;
			right: 0;
			bottom: 0;

			@include tablet {
				max-width: 45%;
			}
			@include mobile {
				max-width: 45%;
				height: auto;
			}

			img {
				width: 100%;
				object-fit: contain;
			}
		}

		&:first-child .slider-card__img {
			align-items: flex-start;

			@include tablet {
				align-items: flex-end;
			}
		}

		&:nth-child(3) .slider-card__img {
			max-width: 19rem;

			@include tablet {
				max-width: 50%;
			}
			@include mobile {
				max-width: 50%;
			}
		}
	}
}